#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* ========== Main App (Parent) ========== */
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  min-height: 80vh;
}

/* ========== Header Styles (Child) ========== */
.header {
  margin-bottom: 1rem;
}

/* ========== Flashcard Styles (Child) ========== */
.flashcard-container {
  background-color: lightblue;
  width: 100%;
  max-width: 500px;
  box-shadow: 0 0 10px white;
  cursor: pointer;
  border-radius: 4px;
  height: auto;
  min-height: 300px;
}

.flashcard-content {
  position: relative;
  transition: transform 0.2s ease;
  transform-style: preserve-3d;
}

/* When parent div has class attribute '.flashcard.flipped' preform the 
  below transformation on the 'flashcard-content' div */
.flashcard.flipped .flashcard-content {
  transform: rotateY(360deg);
}

.flashcard-text {
  display: flex;
  flex-flow: column;
  justify-content: center;
  height: 20vh;
  font-size: 22px;
  padding: 0 1em;
}
.tags-container {
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
}

.tag {
  background-color: gray;
  border-radius: 22px;
  padding: 0.25em 0.75em;
}

/* ========== Navigation Styles (Child) ========== */
.nav-container {
  width: 30vw;
  display: flex;
  flex-flow: row;
  justify-content: center;
  margin-top: 2em;
  gap: 1em;
}

/* ========== TextBox Styles (Child) ========== */

.text-box {
  display: flex;
  flex-flow: column;
}

.input-field {
  text-align: center;
  height: 100px;
  width: 300px;
  margin-bottom: 1em;
}