/* ========== Global Styles ========== */
/* Styles that apply to the entire application */
#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

/* ========== App (Parent) ========== */
.app-container {
  display: grid;
  grid-template-columns: 200px 1fr;
  height: 100vh;
  width: 100vw;
}

.page-content {
  padding: 2rem;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: burlywood;

  /* Add shop background overlay */
  background-image: url('./assets/ShopOverlayBackground.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* ========== Navbar Styles (Child) ========== */
.navbar-container {
  background-color: transparent;
  padding: 1rem;
  height: 100%;
}

.side-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.side-nav ul{
  list-style: none;
  padding: 0;
  width: 100%;
}

.side-nav li {
  background-color: whitesmoke;
  margin: 25px;
  border-radius: 12px;
  padding: 15px;
}

/* ========== Home Page Styles (Child) ========== */
/* Styles specific to the Home page */
.home-page-container {
  padding: 2rem;
}

/* ========== Create Page Styles (Child) ========== */
/* Styles specific to the Create page */
.create-page-container {
  padding: 2rem;
}

/* ========== Summary Page Styles (Child) ========== */
/* Styles specific to the Summary page */
.summary-page-container {
  padding: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #f9f9f9;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  color: grey;
  margin-left: -65px;
}

.summary-page-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 50vw;
  height: 65vh;
  padding: 2rem;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  color: grey;
  overflow-y: auto; /* Enable vertical scrolling */
}

/* ========== Pet Detail Page Styles (Child) ========== */
/* Styles specific to the Detail page */
.pet-page-container {
  padding: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #f9f9f9;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  color: grey;
  margin-left: -65px;
}

.pet-page-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  color: grey;
}

.pet-buttons {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
}

/* ========== Pet Card Styles ========== */
.pet-card-container {
  width: 325px;
  height: auto;
  padding: 2rem;
  margin: 10px;
  border-radius: 40px;
  cursor: pointer;
  
  /* Add pet frame overlay */
  background-image: url('./assets/PetImageFrameOverlay.png');
  background-size: 120% 112%;
  background-position: center;
  background-repeat: no-repeat;
}

.pet-card-container img {
  width: 100%; /* Make the image responsive to the container */
  max-width: 150px; /* Set a maximum width for the image */
  height: auto; /* Maintain aspect ratio */
  display: block; /* Ensure proper alignment */
  margin: 0 auto; /* Center the image horizontally */
}

/* Credits: https://freefrontend.com/css-text-effects/ */
.pet-card-name {
	place-self: center;
	background: linear-gradient(90deg, #00f, #0ff, #00f) -100%/ 200%;
	/* being excessively careful with compat, 
	 * though this has been supported unprefixed and 
	 * in the shorthand across major browsers for a while */
	-webkit-background-clip: text;
	        background-clip: text;
	/* use color, don't use -webkit-text-fill-color anymore, 
	 * was meant to solve a problem we haven't had in years */
	color: transparent;
	font: 900 clamp(2em, 50px, 10em) exo, sans-serif;
	animation: shimmer 2s linear infinite
}

@keyframes shimmer { to { background-position: 100% } }

.pet-tag-container {
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
}

.pet-tag-container h2 {
  background-color: #f9f9f9;
  border-radius: 8px;
  padding: 0.15em 0.75em;
}

/* ========== Pet Form Styles (Child) ========== */
.pet-form-container {
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f9f9f9;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.pet-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  max-width: 500px;
  padding: 2rem;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  color: grey;
}

.pet-form-label {
  background-color: whitesmoke;
  padding: 7px;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 1rem;
  font-weight: bold;
}

.pet-form-label input {
  background-color: white;
  border-color: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  color: grey;
}

.pet-form-button {
  width: 100%;
}

.pet-form-button:hover {
  background-color: #535bf2;
}

/* ========== Pet Form Image Slider Styles (Child) ========== */
/* Credits: https://www.youtube.com/watch?app=desktop&v=l1MYfu5YWHc&t=0s */
.slider-container {
  position: relative;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.slider-image {
  width: 50%;
  border-radius: 10px;
}

.right-arrow {
  position: absolute;
  top: 37%;
  right: 0px;
  font-size: 3rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.left-arrow {
  position: absolute;
  top: 37%;
  left: 0px;
  font-size: 3rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.slide-active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}