/* ========== Global Styles ========== */
/* Styles that apply to the entire application */
#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

/* ========== App (Parent) ========== */
.app-container {
  display: grid;
  grid-template-columns: 200px 1fr;
  height: 100vh;
  width: 100vw;
}

.page-content {
  padding: 2rem;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: burlywood;

  /* Add shop background overlay */
  background-image: url('./assets/ShopOverlayBackground.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* ========== Navbar Styles (Child) ========== */
.navbar-container {
  background-color: transparent;
  padding: 1rem;
  height: 100%;
}

.side-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.side-nav ul{
  list-style: none;
  padding: 0;
  width: 100%;
}

.side-nav li {
  background-color: whitesmoke;
  margin: 25px;
  border-radius: 12px;
  padding: 15px;
}

/* ========== Home Page Styles (Child) ========== */
/* Styles specific to the Home page */
.home-page-container {
  padding: 2rem;
}

/* ========== Create Page Styles (Child) ========== */
/* Styles specific to the Create page */
.create-page-container {
  padding: 2rem;
}

/* ========== Summary Page Styles (Child) ========== */
/* Styles specific to the Summary page */
.summary-page-container {
  padding: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #f9f9f9;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  color: grey;
}

.summary-page-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  padding: 2rem;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  color: grey;
}

/* ========== Detail Page Styles (Child) ========== */
/* Styles specific to the Detail page */
.detail-page-container {
  padding: 2rem;
}

/* ========== Edit Page Styles (Child) ========== */
/* Styles specific to the Edit page */
.edit-page-container {
  padding: 2rem;
}

/* ========== Pet Card Styles ========== */
.pet-card-container {
  padding: 4em;
  
  /* Add pet frame overlay */
  background-image: url('./assets/PetImageFrameOverlay.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


/* ========== Pet Form Styles (Child) ========== */
/* Styles specific to the PetForm component */
.pet-form-container {
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f9f9f9;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.pet-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  max-width: 500px;
  padding: 2rem;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  color: grey;
}

.pet-form-label {
  background-color: whitesmoke;
  padding: 7px;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 1rem;
  font-weight: bold;
}

.pet-form-label input {
  background-color: white;
  border-color: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  color: grey;
}

.pet-form-button {
  width: 100%;
}

.pet-form-button:hover {
  background-color: #535bf2;
}