/* ========== Global Styles ========== */
/* Styles that apply to the entire application */
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* ========== App (Parent) ========== */
/* Styles for the main app container */
.app {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

/* ========== Navbar Styles (Child) ========== */
/* Styles for the navigation bar */
.navbar-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #f9faf8f3;
  padding: 1rem;
  width: 150px;
  height: 100vh;
}

.side-nav ul{
  list-style: none;
  padding: 0;
}

.side-nav li {
  background-color: gray;
  margin: 25px;
  border-radius: 12px;
  width: 100%;
}

/* ========== Home Page Styles (Child) ========== */
/* Styles specific to the Home page */
.home-container {
  padding: 2rem;
  text-align: center;
}

.home-title {
  font-size: 2rem;
  color: #333;
}

.home-content {
  margin-top: 1rem;
  font-size: 1.2rem;
  color: #666;
}

/* ========== Create Page Styles (Child) ========== */
/* Styles specific to the Create page */
.create-page-container {
  padding: 2rem;
}

/* ========== Summary Page Styles (Child) ========== */
/* Styles specific to the Summary page */
.summary-page-container {
  padding: 2rem;
}

/* ========== Detail Page Styles (Child) ========== */
/* Styles specific to the Detail page */
.detail-page-container {
  padding: 2rem;
}

/* ========== Edit Page Styles (Child) ========== */
/* Styles specific to the Edit page */
.edit-page-container {
  padding: 2rem;
}

/* ========== Logo Styles ========== */
.logo {
  height: 6em;
  padding: 1.5em;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

/* ========== Card Styles ========== */
.card {
  padding: 2em;
}

/* ========== Link Styles ========== */
.read-the-docs {
  color: #888;
}

