/* ========== Root Styles ========== */
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 4rem;
  text-align: center;

  width: 100%;
}

/* ========== App.jsx (Parent) ========== */
.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  color: gray;
  min-height: 80vh;
  overflow-y: auto;
}

/* ========== Pages ========== */
.page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* ===== Home ===== */
.page-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: auto;

  /* Add space between posts */
  gap: 16px;
  margin-bottom: 12px;
}

/* ===== Details ===== */
.detail-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;

  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  gap: 10px; /* Optional: adds space between buttons */
}

.detail-buttons button {
  flex: 1; /* Each button grows equally to fill available space */
  min-width: 0; /* Prevents overflow if text is long */
}

/* ========== Components ========== */

/* ===== Search Bar ===== */
.search-bar-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: clamp(320px, 100%, 60vw);
  padding: 0.5rem;
  gap: 0.5rem;
}

.search-bar-container button {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.search-bar {
  flex: 1;
  background-color: whitesmoke;
  border: none;
  padding: 0.5rem;
  font-size: 1rem;
  color: gray;

  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* ===== Sort Bar ===== */
.sort-bar-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: clamp(320px, 100%, 60vw);
}

.dropdown-filter {
  flex: 1;
  background-color: whitesmoke;
  border: none;
  padding: 0.5rem;
  font-size: 1rem;
  color: gray;

  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-top: 16px;
}

/* ===== Post Card ===== */
.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  background-color: whitesmoke;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  border: 3px solid grey;
  cursor: pointer;
}

.card-container button {
  margin-bottom: 17px;
}

/* ===== Post Form ===== */
.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.form button {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  width: 110%;
}

.form-input {
  /* Only works for `flex-direction: row;` b/c `flex: 1;` affects height, not width */
  width: 100%;
  background-color: whitesmoke;
  border: none;
  padding: 1rem;
  font-size: 1rem;
  color: gray;

  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
  border-radius: 12px;
  text-align: center;
}

/* ===== Comment List ===== */
.comment-list-component {

}